.btn {
  width: fit-content;
  padding: 1.6rem 2.8rem;
  display: flex;

  text-decoration: none;
  border: none;
  background-color: unset;
}
.btn--accent {
  color: var(--colo-font-primary);
  background-color: var(--color-font-accent);
  border: 1px solid var(--color-font-accent);
  border-radius: 3rem;
}
