:root {
  // #FFFFFF
  --color-font-primary: hsl(0, 0%, 100%);
  --color-font-secondary: hsl(0, 0%, 40%);
  // #FF4471
  --color-font-accent: hsl(346, 100%, 63%);

  // #3A3A3A
  --color-lines-secondary: hsl(0, 0%, 23%);

  --color-bg-primary: hsl(0, 0%, 0%);
  --color-bg-secondary: hsl(0, 0%, 100%);
}
