.g-img-contain {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
// .link {
//   font-family: Proxima Nova;
//   font-size: 12px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 12px;
//   letter-spacing: 0em;
//   text-align: left;
// }
.g-link {
  text-decoration: none;
  color: var(--color-font-primary);
  transition: color ease-in-out 0.3s;
  &:hover {
    color: var(--color-font-accent);
  }
}
.g-img-cover {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.g_list--line {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 2rem;
      width: 4.5rem;
      height: 0.2rem;
      background-color: var(--color-font-accent);
    }
  }
}
.g_list--decimal {
  counter-reset: list-decimal;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    $width: 3rem; // size list counter
    $margin: 2rem; // space between list counter and text
    position: relative;
    padding-left: calc(#{$width} + #{$margin});
    &:before {
      position: absolute;
      top: 0;
      left: 0;

      counter-increment: list-decimal;

      content: counter(list-decimal);

      width: $width;
      height: $width;

      display: inline-block;

      color: #000;
      font-weight: 700;
      line-height: $width;
      text-align: center;

      border: 0.1rem solid #000;
    }
  }
}
